<table class="table table-hover">
  <tr>
    <td width="80px">
      {% if user.has_facebook() %}
        <img src="{{ user.picture(80, 80) }}" />
      {% else %}
        <img src="/static/grey-small.jpg">
      {% endif %}
    </td>
    <td>
      <h4><strong>{{ user.first_name }} {{ user.last_name }}</strong> ({{ user.major }})</h4>
      <p>{{ user.interests }}</p>
    </td>
    <td style="vertical-align:middle;">
      <div class="pull-right">
        <a class="btn btn-primary" href="{{ url_for('user.contact', id=user.id) }}" role="button">Message</a>
      </div>
    </td>
    </tr>
</table>