<table class="table table-hover">
    <tr>
        <td width="80px">
          {% if user.has_facebook() %}
            <img src="{{ user.picture(80, 80) }}" />
          {% endif %}
        </td>
        <td>
            <p><strong>{{ user.first_name }} {{ user.last_name }}</strong> ({{ user.major }})</p>
            <p>{{ user.interests }}</p>
        </td>
        <td>
            <div class="pull-right">
            <a class="btn btn-default" href="{{ url_for('user.contact', id=user.id) }}" role="button">Message</a>
            </div>
        </td>
    </tr>
</table>