{% extends "base.html" %}

{% block content %}

<h1>Your Profile</h1>

{% if current_user.has_facebook() %}
<p><img src="{{ current_user.picture(200, 200) }}"></p>
{% endif %}

{% if current_user.is_authenticated() %}
  <p><strong>Name</strong>: {{current_user.first_name}} {{current_user.last_name}}</p>
  <p><strong>Major</strong>: {{current_user.major}}</p>
  <p><strong>Interests</strong>: {{current_user.about_me}}</p>
  {% if current_user.has_facebook() %}
  <p><strong>Links</strong>: <a href="http://www.facebook.com/{{ current_user.facebook }}">Facebook</a></p>
  {% endif %}
  {% if not current_user.has_facebook() %}
  <p><a href="login/fb">Add Facebook Profile Picture</a></p><br>
  {% endif %}
{% endif %}

<h2>Change Password</h2>
<br>
<form class="form-reset" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.password(placeholder="New Password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="Confirm") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Update</button>
</form>


{% endblock %}