{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<h1>Register</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.email(placeholder="Email (@columbia.edu)") }}
  </p>
  <p>
  {{ form.password(placeholder="Password (8 to 16 characters)") }}
  </p>
  <p>
  {{ form.confirm(placeholder="Confirm Password") }}
  </p>
  <button class="btn btn-success" type="submit">Register!</button>
  <br><br>
  <p>Already have an account? <a href="/login">Sign in</a>.</p>
</form>
{% endblock %}